input.submit
{
	border: 3px double #999999;
	border-top-color: #CCCCCC;
	border-left-color: #CCCCCC;
	padding: 0.25em;
	background-color: #FFFFFF;
	color: #333333;
	font-size: 75%;
	font-weight: bold;
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

li {
	padding: 4px;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	margin: 10px;
	background: White;
	
}

.box {
	padding: 0px;
	padding-top: 0px;	
}

.innerbox {
	padding: 15px;
	padding-top: 10px;
	border: 1px dashed Silver;
	background: #FBFBFB;
}

h3 {

}

.equipment td{
	padding-top: 10px;
	font-weight: bold;
}

.title {
	background: #F6F6F6;
	padding: 10px;
	margin: 0px;
	color: Black;
}

.Result {

	width: 400px;
	margin: 0px auto;
	border: 1px solid gray;
	padding: 10px;
	font-size: xx-small;
}

.QCResults {
	font-size: xx-small;
}

.Summary {
	border: 1px solid #DFDFDF;		
}

.Summary td {
	border-left: 1px solid #DFDFDF;	
}

.noborder td {
	border: none;
}

.SummaryHeader td {
	border-left: 1px solid #DFDFDF;	
	font-weight: bolder;
	padding: 3px;
	background: White;
}

.SummaryHeader : hover {
	background: #F0F0F0;
}

.test {
	background: Black;
}
.test : hover {
	background: Red;
}

.test2 : hover {
	background: Yellow;
}

.FAIL, .FAIL a {
	color: Red;
	font-weight: bolder;
	text-decoration: none;
}

.PASS, .PASS a {
	color: Blue;
	font-weight: bolder;
	text-decoration: none;
}

.SPASS, .SPASS a {
	color: Green;
	font-weight: bolder;
	text-decoration: none;
}

.NEB, .NEB a {
	color: #CECECE;
}

.tableheader{
	padding: 3px;
	font-weight: bolder;
	text-align: center;
}

.reportheader{
	padding: 3px;
	font-weight: bolder;
	text-align: left;
}

.tableheader td, .reportheader td{
	padding: 4px;

	border-bottom: 1px solid gray;
	border-left: 0px;
	border-right: 0px;
	padding-top: 10px;
}

.mysmall {

color: blue;
font-size: small;
}

.newheader {
	padding: 3px;
	font-weight: bolder;
}

.newheader td {
	background: #F5F5F5;
	padding: 4px;
	border-bottom: 1px solid gray;
	border-left: 0px;
	border-right: 0px;
}

.indented td
{
	text-indent: 30px;
}
td {
	padding: 2px;
	border-bottom: 1px dashed #DFDFDF;
}

tr : hover {
	background: #F4F4F4;
}

.fieldName {
	font-weight: bolder;
}

a{
	border-bottom: 1px dashed;
	text-decoration: none;
}

a:hover {
	background: Black;
	color: White;
	
}

.ReportRow td
{
	background: #FAEEF1;
}

#navcontainer ul
{
padding-left: 0;
margin-left: 0;
background-color: #EF96A8;
color: White;
float: left;
width: 100%;
font-family: arial, helvetica, sans-serif;
}

#navcontainer ul li { display: inline;}

#navcontainer ul li a
{
padding: 0.2em 1em;
background-color: #C0183A;
color: White;
text-decoration: none;
float: left;
border: 0px;
border-right: 1px dashed White;
}

#navcontainer ul li a:hover
{
background-color: #F5C5D0;
color: #fff;

}

#header
{
	clear: both;
	float: none;
}
